@import url('https://fonts.googleapis.com/css?family=Merienda+One|Pacifico&display=swap');

:root {
    --c-blue-dark: rgb(0, 38, 65);
    --c-white-blue: rgb(248, 251, 255);
    --c-grey-light: #6C757D;
    --f-title: 'Pacifico', cursive;
}

body {
    background: rgb(0, 33, 57);
    background: linear-gradient(0deg, rgba(0, 33, 57, 1) 0%, rgb(32, 97, 138) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.page-title {
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--c-white-blue);
    font-family: var(--f-title);
    font-size: 60px;
}

.page-info {
    color: var(--c-white-blue);
    font-size: 18px;
}

.card-header,
.list-group-item,
.card-footer,
.card-body {
    color: var(--c-blue-dark);
}

.card-header {
    font-weight: bold;
}

.scrollable-area {
    height: 500px;
    overflow: auto;
    color: var(--c-grey-light);
}

.card-footer {
    height: 60px;
}

.step-through {
    float: right;
}

mark {
    background-color: rgb(255, 237, 138);
}

.mark-selected {
    background-color: rgb(255, 188, 111);
}

